# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
*.db

# Temporary or cache files
*.log
*.tmp
*.temp
*.cache

# Ignore node_modules for the React frontend
/client/node_modules/

# Ignore build folders for the .NET backend
/server/bin/
/server/obj/

# Ignore environment files that might contain sensitive information
/server/appsettings.Development.json

/server/Migrations/